.example-card {
  width: 260px;
  margin-bottom: 8px;
  display: inline-block;
  margin: 15px;
}

.center {
  text-align: center;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 12px;
}
